.game-url {
    height: 30px;
    width: 500px;
    padding: 0 10px;
}

.user-login,
.user-password {
    width: 300px;
    height: 30px;
    padding: 0 10px;
    display: inline-block;
    margin-top: 20px;
}

.user-password {
    margin-top: 10px;
    margin-bottom: 15px;
}

.user-label {
    display: inline-block;
    width: 150px;
}